<%- include('../../partials/header', {title: "Team Update" }) %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <%- include('../../partials/breadcream', {title:"Update Team",parent:"team"}) %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <form action="/edit-team/<%= data.id %>" method="POST" enctype="multipart/form-data">

                <!-- <input type="text"> -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Name"
                          value="<%= data.name %>" />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Destination</label>
                        <input type="text" class="form-control" name="destination" placeholder="Enter Destination"
                          value="<%= data.destination %>" />
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputFile">Image Upload</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input"
                          id="exampleInputFile"
                          name="img"
                        />
                        <label class="custom-file-label" for="exampleInputFile"
                          >Choose Image</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Description</label>
                    <textarea id="summernote" name="desc"><%= data.desc %></textarea>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Phone</label>
                        <input type="number" class="form-control" name="phone" placeholder="Enter Phone"
                          value="<%= data.phone %>" />
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter Email"
                          value="<%= data.email %>" />
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" name="city" placeholder="Enter City"
                          value="<%= data.city %>" />
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Address</label>
                    <textarea name="address" class="form-control" id="" cols="30" rows="10"><%= data.address %></textarea>
                  </div>

                  <div class="row">
                    <div class="col-md6">
                      <div class="form-group">
                        <label>Date of Birth</label>
                        <input type="date" class="form-control" name="dob"
                          value="<%= (moment(data.dob).format('MM/DD/YYYY')) %>" />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="status">
                          <% let status=['success','pending','reject']; %>
                              <% status.forEach( (item)=> { %>
                                <option value="<%= item %>" <% if(data.status==item ){ %> selected <% } %>><%= item %>
                                </option>
                                <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

            <div class="col-md-4">
              <div class="img-style">
                <% var imgName='/assets/upload/' + data.img %>
                  <img alt="<%= data.title %>" class="img-fluid" src=<%=imgName %> />
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  </div>
  </div>

  <%- include('../../partials/footer') %>
    <script>
      $(function () {
        // Summernote
        $("#summernote").summernote({
          height: 250,
        });
      });

      $(function () {
        bsCustomFileInput.init();
      });
    </script>