<%- include('../../partials/header', {title: "Social Update" }) %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <%- include('../../partials/breadcream', {title:"Update Social",parent:"social"}) %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <form action="/edit-social/<%= data.id %>" method="POST">

                <!-- <input type="text"> -->
                <div class="card-body">
                  <div class="form-group">
                    <label for="nameLabel">Name</label>
                    <input type="text" class="form-control" id="nameLabel" name="name" placeholder="Enter Name"
                      value="<%= data.name %>" />
                  </div>

                  <div class="form-group">
                    <label>Icon</label>
                    <select class="form-control" name="icon">
                      <% let icon=['facebook','twitter','instagram','linkedin','google','rss','pinterest','viber','whatsapp']; %>
                        <% icon.forEach( (item)=> { %>
                          <option value="<%= item %>" <% if(data.icon==item ){ %> selected <% } %>><%= item %>
                          </option>
                          <% }) %>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="linkLabel">Link</label>
                    <input type="text" class="form-control" id="linkLabel" name="link" placeholder="Enter Link"
                      value="<%= data.link %>" />
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

            <div class="col-md-4">
              <div class="img-style">
                <% var imgName='/assets/upload/' + data.img %>
                  <img alt="<%= data.title %>" class="img-fluid" src=<%=imgName %> />
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  </div>
  </div>

  <%- include('../../partials/footer') %>
    <script>
      $(function () {
        // Summernote
        $("#summernote").summernote({
          height: 250,
        });
      });

      $(function () {
        bsCustomFileInput.init();
      });
    </script>